DATABASE_URL = "postgresql://postgres.TU_PROYECTO:TUPASSWORD@aws-0-eu-west-3.pooler.supabase.com:6543/postgres"

EMAIL_ENABLED = false
SMTP_HOST = "smtp.office365.com"
SMTP_PORT = 587
SMTP_USER = "tu_correo@dominio.com"
SMTP_PASSWORD = "tu_password"
EMAIL_FROM = "tu_correo@dominio.com"
